<div class="container">
  <div class="row m-5">
      <p class="font-weight-bold text-center">本当に退会しますか？</p>
      <p class="text-center">退会すると、会員登録情報や<br>
        これまでの購入履歴が閲覧できなくなります。<br>
        退会する場合は、「退会する」をクリックしてください。
      </p>
    <div class="row">
      <div class="form-group text-center">
        <%= link_to "退会する", withdraw_path, class: "btn btn-danger btn-sm", method: :patch, data: { confilm: "本当に退会しますか？" } %>
        <%= link_to "退会しない", customers_my_page_path, class: "btn btn-primary btn-sm" %>
      </div>
    </div>
  </div>
</div>